.action {
    height: 2.8rem;
    background: #CED3CA;
    display: flex;
    font-size: 0.875rem;
    margin-bottom: 1.5rem;
}

.action__text {
    margin-left: auto;
    margin-right: auto;
    display: flex; 
}

.action__offer {
    font-size: 14px;
    margin-top: auto;
    margin-bottom: auto;
}