.categore .container {
    
}

.category-text {
    width: 630px;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 89px;
}

.category .category__objects {
    display: flex;
    flex-wrap: wrap;
}

.category-men {
    margin: 0 58px 70px 0;
}

.category-wonen {
    margin: 0 0 70px 58px;
}



.category__objects a  {
    text-decoration: none;
    font-size: 16px;
}

.category-objects {
    margin-bottom: 115px;
}