.footer {
    background: #f7f7f7;
}

.footer .container {
    padding-top: 84px;
    padding-bottom: 104px;
    display: flex;
    flex-wrap: wrap;
}

.footer-left {
    display: flex;
}

.footer-left li {
    list-style-type: none;
    // line-height: 14px;
}

.footer-left a {
    text-decoration: none;
    color: #1a1a1a;
    font-size: 15px;

    &:hover {
        text-decoration: underline;
    }
}

.menu-left,
.menu-right {
    width: 300px;
}

.footer-right {
    justify-content: flex-end;
}

.motto {
    width: 250px;
    text-align: right;
    display: flex;
}

.social {
    margin-top: 52.30px;
}

.social a {
    text-decoration: none;
    margin: 0 16 0 16;
}